:root {
  /* This color should be followed by the header and footer */
  --primary-color: #6f4e37;
  --accent-color: #f9a825;
  --text-color: #222;
  --header-color: #23F502;
}

body {
  font-family: 'Georgia', serif;
  color: var(--text-color); /* TODO: styles below aren't applying, why? */
  margin: 1;
  padding: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* Does the header has the same color as intended */
  background-color: var(--header-color);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f5ebe0;
}

.hero img {
  max-width: 100%;
  border-radius: 8px;
}

.spots {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
}



footer {
  position: sticky;
  bottom: -20px;
  text-align: center;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
}

/* TODO: make .nav-links stack vertically and show .nav-toggle below 600px */